<div id="offres" class="site-section block-13 bg-light">
    <div class="container">
       <div class="row mb-5">
          <div class="col-md-7 section-heading">
            <span class="subheading-sm">Nos Offres</span>
            <h2 class="heading">Mariage  &amp; Events</h2>
            <p>Votre mariage ou cérémonie à Marrakech sera un événement exceptionnel.</p>
          </div>
        </div>
<div class="row">
    <div class="col-md-12">
        <div class="nonloop-block-13 owl-carousel">
            <div class="item" *ngFor="let offre of offres">
            <div class="block-34">
                <div class="image">
                <a href="/offre/{{offre.id}}"><img src="http://localhost:8080/photoProduct/{{offre.images[0].id}}" alt="Image placeholder"></a>
                </div>
                <div class="text">
                <h2 class="heading">{{offre.titre}}</h2>
                <div class="price"><sup>$</sup><span class="number">{{offre.price}}</span></div>
                </div>
            </div>
            </div>
        </div>
    </div> <!-- .col-md-12 -->
</div>
</div>
</div>