<app-navbar></app-navbar>
<div class="row my-4">
    <div class="col-md-6">
        <h3>Liste des packs</h3>
    </div>
    <div class="col-md-6 text-right">
        <button (click)="showform = !showform" class="btn btn-dark btn-sm">
            <i class="fa fa-plus"></i> Ajouter un pack
        </button>
    </div>
</div>
<div class="row" *ngIf="showform">
    <div class="col-md-6 mx-auto">
        <div class="form-group">
            <label for="label">Titre du PACK</label>
            <input [(ngModel)]="nvpack.titre" id="label" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="label">Description du PACK</label>
            <textarea  [(ngModel)]="nvpack.description" id="label" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="label">Prix du PACK ($)</label>
            <input [(ngModel)]="nvpack.price" id="label" type="number" class="form-control">
        </div>
        <!-- <div class="col-sm-14">
            <ngx-dropzone (change)="onSelectedFile($event)">
                <ngx-dropzone-label>Glissez les images ici !</ngx-dropzone-label>
                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                </ngx-dropzone-image-preview>
            </ngx-dropzone>   
        </div> -->
        <input type="file" (change)="onSelectedFile($event)" multiple>
        {{progress}}
        <div class="form-check">
          <label class="form-check-label">
            <input [(ngModel)]="nvpack.disponible" type="checkbox" class="form-check-input" name="" id="" value="checkedValue" >
            Disponible
          </label>
        </div>
        <div *ngIf="!editForm" (click)="add()" class="button btn btn-success btn-block"><i class="fa fa-send"></i>  Ajouter le pack</div>

        <div *ngIf="editForm" (click)="update()" class="button btn btn-warning btn-block"><i class="fa fa-refresh"></i>  Modifier le pack</div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 mx-auto">
        <ul class="list-group">
            <li *ngFor="let pack of packs" class="list-group-item d-flex justify-content-between align-items-center">
                <span class="badge badge-secondary badge-pill">{{pack.titre}}</span>
                <span (click)="disponible(pack)" [ngClass]="{
                    'badge-info':pack.disponible,
                    'badge-danger':!pack.disponible
                }" class="badge badge-danger badge-pill">
                <i class="fa" [ngClass]="{
                    'fa-thumbs-up' : pack.disponible,
                    'fa-thumbs-down':!pack.disponible
                }"></i></span>
                <button  (click)="edit(pack)" class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i></button>
                <button  (click)="deletePack(pack.id)" class="btn btn-sm btn-dark"><i class="fa fa-trash"></i></button>
            </li>
        </ul>
    </div>
</div>
